/* ------ CSS RESET ------*/

* {
    padding:0;
    margin:0;
    font-size: 100%;
    letter-spacing: 0;
}

/* ----------- MAIN STYLING -----------*/

body {
    width: 75%;
    max-width: 670px;
    margin: auto; 
    background-color:floralwhite;
    color: #222222;
}

h1, h2, h3 {
    font-weight: normal;
    color: cornflowerblue;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.4;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 3.998em;
    margin-top: 1em;
    margin-bottom: 0.4;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-size: 2.827em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-family: 'Libre Baskerville', serif;
}

h3 {
    font-size: 2.999em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-family: 'Libre Baskerville', serif;
}

blockquote {
    hanging-punctuation: first;
    text-indent: 0.5em;
}

header h2 {
    font-style: italic;
    font-size: 2.35em;
    color:cornflowerblue;
}

/*---- Styling Links -------*/ 

a {
    color:cornflowerblue;
}

a:hover {
    color: darkblue;
}

/*---------- NAVIGATION------------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: burlywood;
    padding: 0.5em 0;
    font-size: 0.75em; 
    font-family: 'Libre Baskerville', serif;
}

nav ul {
    text-align: center;
    text-transform: capitalize;
    letter-spacing:uppercase; 
    font-size: 2em;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:link {color: #fff}

nav a:visited {color:#fff}

nav a:hover {border-bottom: none; color: #000}

/*-----------Blockquote-------------*/

blockquote {
    padding: 1em;
    font-size: 1.75em;
    color: #777;
}

blockquote cite {
    font-size: 1em;
}

/*-----------IMAGES----------*/

img {
    display: block;
    margin: 4em auto;
    padding: 0;
    max-width: 100%;
}

/*-------------FOOTER---------------*/

footer {
    text-align: center;
    font-size: 0.75em;
    padding: 0.75em;
}

hr {
    margin: 3em 0;
    height: 1px;
    background-color: cornflowerblue;
    color: aqua;
    border: 0 none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left; 
    font-family: 'Libre Baskerville', serif;
}

.connections{
    position: relative;
    margin: auto;
    display: inline;
    margin: 20px, 0;
    
}

.connections ul {
    margin: 0;
    padding: 0;
    
}

.connections li{
    margin: 0 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
    
}

.connections a:link {
    border-bottom: none;
}

.connection img {
    opacity: 0.5;
    border: none;
        
    }

.connections a:hover img {
    opacity: 1.0;
    border-bottom: none;
    transition: all 0,8s ease-in-out;
    transform: scale(1.2);
    
}





