body {
    background-color:floralwhite;
    width: 75%;
    max-width: 670px;
    margin: auto;
}

h1, h2, h3 {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}

h1 {
    padding-top: 1em;
    padding-top: 1em;
    font-size: 4em;
    color: cadetblue;   
}

h2 {
    font-size: 2em;  
}

#jenson, #garamont, #bodoni, #caslon, #baskerville, #fonts {
    font-family: "Apple Chancery", cursive;
    color: cadetblue;
    font-size: 1.5em;
}
p {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2em;   
}

.small-text {
    font-size: 0.01; !important
    text-align: center;
    padding-bottom: 1em;
}
        
table, th, td {
    border: 3px solid cadetblue;
    text-align: left;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}

/*--------STYLING LINKS--------*/

a:link, a:visited {
    background-color:floralwhite;
    color: cadetblue;!important
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color:aqua;
}
    
nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color:cadetblue;
    font-size: 0.75em;    
    color: aqua;
}

nav ul {
    text-align: center;
    text-transform: capitalize;
    letter-spacing:uppercase; 
    font-size: 2em;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a:link {color:cadetblue; font-size: 1em; padding: 10px;}

nav a:visited {color:cadetblue}

nav a:hover {border-bottom: none; color: #000}




